<!DOCTYPE html>
<html>
<head>
	<title>Travis Wight | Projects</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&displa
	y=swap" rel="stylesheet"> 

	<link rel="stylesheet" type="text/css" href="/css/projects.css">
	<link rel="stylesheet" type="text/css" href="/css/base.css">
	<link rel="shortcut icon" href="img/TW-Logo-Back.png">

	<script src="https://kit.fontawesome.com/dacea39428.js" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="/js/navbar.js"></script>
</head>
<body>
    {{>navbar}}
	<div class="projects">
		<div id="particles-js"></div>
		<script src="/js/particles.js"></script>
		<script src="/js/app.js"></script>
		<div class="main-container">
			<div class="projects-section" id="projects-main-header">
				<h1>PROJECTS</h1>
			</div>
			<div class="projects-section projects-cont" id="projects-main-projects-web">
				<h2 class="projects-section-title">WEBSITES</h2>
				<div class="project-card">
					<div class="project-card-cont">
						<div class="project-card-inner">
							<img src="/img/projects/buildtectweb.jpg">
							<div class="project-card-overlay">
								<h3 class="project-overlay-title">BUILDTECT.COM</h3>
								<div class="project-overlay-links">
									<a class="project-overlay-link" href="https://www.buildtect.com/">
										<i class="fas fa-link"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="project-card">
					<div class="project-card-cont">
						<div class="project-card-inner">
							<img src="/img/projects/traviswightweb2.png">
							<div class="project-card-overlay">
								<h3 class="project-overlay-title">TRAVISDWIGHT.COM</h3>
								<div class="project-overlay-links">
									<a class="project-overlay-link" href="https://www.buildtect.com/">
										<i class="fas fa-link"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="projects-section projects-cont" id="projects-main-projects-personal">
				<h2 class="projects-section-title">SCHOOL</h2>
				<div class="project-card">
					<div class="project-card-cont">
						<div class="project-card-inner">
							<img src="/img/projects/plantsofci.png">
							<div class="project-card-overlay">
								<h3 class="project-overlay-title">PLANTS OF CI</h3>
								<div class="project-overlay-links">
									<a class="project-overlay-link" href="https://github.com/steven-romp/PlantsofCI">
										<i class="fab fa-github"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>