<!DOCTYPE html>
<html>
<head>
	<title>Travis Wight | Resume</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&displa
	y=swap" rel="stylesheet"> 

	<link rel="stylesheet" type="text/css" href="/css/resume.css">
	<link rel="stylesheet" type="text/css" href="/css/base.css">
	<link rel="shortcut icon" href="img/TW-Logo-Back.png">

	<script src="https://kit.fontawesome.com/dacea39428.js" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="/js/navbar.js"></script>
</head>
<body>
    {{>navbar}}
	<div class="resume">
		<div id="particles-js"></div>
		<script src="/js/particles.js"></script>
		<script src="/js/app.js"></script>
		<div class="main-container">
			<div class="resume-section" id="resume-main-header">
				<h1>RESUME</h1>
				<h4>
					<a href="/files/Resume.pdf">PDF Version</a>
				</h4>
			</div>
			<div class="resume-section" id="resume-main-summary">
				<h2 class="resume-section-title">SUMMARY</h2>
				<p class="resume-section-p">
					Solution-oriented computer science graduate actively seeking <span class="green">internships</span> or a full-time <span class="green">entry level position</span>. Extremely passionate about software engineering, web design, and data science.
				</p>
			</div>
			<div class="resume-section" id="resume-main-work">
				<h2 class="resume-section-title">WORK EXPERIENCE</h2>
				<div class="resume-section-item">
					<div class="rsi-main-title">
						<h3 class="rsi-title">TATUM GAMES, LLC</h3>
						<h3 class="rsi-subtitle">Backend Intern</h3>
					</div>
					<div class="rsi-secondary-title">
						<h3 class="rsi-title">SANTA CLARITA, CA</h3>
						<h3 class="rsi-subtitle">Aug 2019 - Nov 2019</h3>
					</div>
					<ul class="rsi-list">
						<li>3 month, fully remote internship communicating over Slack.</li>
						<li>Wrote/managed documentation for the company’s RESTful APIs using OpenAPI Specification format (Swagger).</li>
						<li>Assisted in writing the company’s backend coding style guide using researched best backend coding techniques.</li>
					</ul>
				</div>
				<div class="resume-section-item">
					<div class="rsi-main-title">
						<h3 class="rsi-title">BUILD TECT BUILDING DESIGNS</h3>
						<h3 class="rsi-subtitle">Web Designer/CAD Drafting</h3>
					</div>
					<div class="rsi-secondary-title">
						<h3 class="rsi-title">NORTHRIDGE, CA</h3>
						<h3 class="rsi-subtitle">June 2015 - Aug 2016</h3>
					</div>
					<ul class="rsi-list">
						<li>Designed/managed business website using HTML5, CSS3, and Javascript</li>
						<li>Assisted with CAD drafting on professional architectural projects using AUTOCAD.</li>
					</ul>
				</div>
				<div class="resume-section-item">
					<div class="rsi-main-title">
						<h3 class="rsi-title">NOT IMPOSSIBLE LABS</h3>
						<h3 class="rsi-subtitle">Student Volunteer</h3>
					</div>
					<div class="rsi-secondary-title">
						<h3 class="rsi-title">VENICE, CA</h3>
						<h3 class="rsi-subtitle">Jul 2014 - Aug 2015</h3>
					</div>
					<ul class="rsi-list">
						<li>Worked with a small team of high school students to design and develop an exoskeleton leg prototype for children with Cerebral Palsy.</li>
						<li>Lead designer of the leg prototype. Created and provided 3D models of leg prototype using SolidWorks.</li>
						<li>Worked alongside engineering team in assembling leg during the build process.</li>
					</ul>
				</div>
			</div>
			<div class="resume-section" id="resume-main-education">
				<h2 class="resume-section-title">EDUCATION</h2>
				<div class="resume-section-item">
					<div class="rsi-main-title">
						<h3 class="rsi-title">CSU CHANNEL ISLANDS</h3>
						<h3 class="rsi-subtitle">B.S. Computer Science</h3>
					</div>
					<div class="rsi-secondary-title">
						<h3 class="rsi-title">CAMARILLO, CA</h3>
						<h3 class="rsi-subtitle">May 2019</h3>
					</div>
					<ul class="rsi-list">
						<li>Graduated with a 3.3 GPA</li>
					</ul>
				</div>
				<div class="resume-section-item">
					<div class="rsi-main-title">
						<h3 class="rsi-title">GRANADA HILLS CHARTER HIGH SCHOOL</h3>
						<h3 class="rsi-subtitle">High School Diploma</h3>
					</div>
					<div class="rsi-secondary-title">
						<h3 class="rsi-title">GRANADA HILLS, CA</h3>
						<h3 class="rsi-subtitle">June 2015</h3>
					</div>
					<ul class="rsi-list">
						<li>Graduated with a 3.0 GPA</li>
					</ul>
				</div>
			</div>
			<div class="resume-section" id="resume-main-coursework">
				<h2 class="resume-section-title">COURSEWORK</h2>
				<div class="resume-section-item">
					<div class="rsi-main-title">
						<h3 class="rsi-title">SOFTWARE ENGINEERING</h3>
						<h3 class="rsi-subtitle">Computer Science | Android Framework | Java</h3>
					</div>
					<ul class="rsi-list">
						<li>Coordinated with a group of students to design an Android application (Plants of CI).</li>
					</ul>
				</div>
				<div class="resume-section-item">
					<div class="rsi-main-title">
						<h3 class="rsi-title">DATABASE THEORY AND DESIGN</h3>
						<h3 class="rsi-subtitle">Computer Science | MySQL | MongoDB</h3>
					</div>
					<ul class="rsi-list">
						<li>Coordinated with a partner to design our final project. Created a database that catalogued my Blu Ray collection by directors, actors, writers, etc.</li>
					</ul>
				</div>
				<div class="resume-section-item">
					<div class="rsi-main-title">
						<h3 class="rsi-title">MOBILE ROBOTICS</h3>
						<h3 class="rsi-subtitle">Computer Science | C++</h3>
					</div>
					<ul class="rsi-list">
						<li>Collaborated with a group of students to build a simple, multi-legged robot.</li>
					</ul>
				</div>
				<div class="resume-section-item">
					<div class="rsi-main-title">
						<h3 class="rsi-title">NETWORKING</h3>
						<h3 class="rsi-subtitle">Computer Science | C</h3>
					</div>
					<ul class="rsi-list">
						<li>Designed a simple HTTP server over the course of the semester.</li>
					</ul>
				</div>
				<div class="resume-section-item">
					<div class="rsi-main-title">
						<h3 class="rsi-title">PROGRAMMING LANGUAGES</h3>
						<h3 class="rsi-subtitle">Computer Science | C</h3>
					</div>
					<ul class="rsi-list">
						<li>Created a compiler for a functional language based on Lisp (informally dubbed CILisp)</li>
					</ul>
				</div>
				<div class="resume-section-item">
					<div class="rsi-main-title">
						<h3 class="rsi-title">ANALYSIS OF ALGORITHMS</h3>
						<h3 class="rsi-subtitle">Mathematics | Python</h3>
					</div>
					<ul class="rsi-list">
						<li>Heaviliy coordinated with a group of students to analyze various algorithms and concepts taught in the class.</li>
					</ul>
				</div>
			</div>
			<div class="resume-section" id="resume-main-extracurricular">
				<h2 class="resume-section-title">EXTRACURRICULAR ACTIVITY</h2>
				<div class="resume-section-item">
					<div class="rsi-main-title">
						<h3 class="rsi-title">HIGH SCHOOL ROBOTICS TEAM AT GHCHS</h3>
						<h3 class="rsi-subtitle">Core Member & Lead CAD Designer</h3>
					</div>
					<div class="rsi-secondary-title">
						<h3 class="rsi-title">GRANADA HILLS, CA</h3>
						<h3 class="rsi-subtitle">Aug 2011 - June 2015</h3>
					</div>
					<ul class="rsi-list">
						<li>Was a core member of high school robotics team for all four years at GHCHS.</li>
						<li>Became lead CAD Designer in my Junior year at the request of our head coach. Designed our robots using 3D modeling program SolidWorks.</li>
						<li>Managed the consistency and correctness of our models. Made sure each model was free of errors.</li>
						<li>Participated in numerous VEX and FRC robotics tournaments and helped manage our school’s annual VEX competition.</li>
					</ul>
				</div>
			</div>
			<div class="resume-section" id="resume-main-skills">
				<h2 class="resume-section-title">SKILLS</h2>
				<div class="resume-section-item">
					<div class="rsi-skill">
						<h3 class="rsi-title">PROGRAMMING LANGUAGES</h3>
						<h3 class="rsi-skills">Python, Java, C, C++, C#, Javascript</h3>
					</div>
				</div>
				<div class="resume-section-item">
					<div class="rsi-skill">
						<h3 class="rsi-title">WEB TECHNOLOGIES</h3>
						<h3 class="rsi-skills">HTML5, CSS3, XML, PHP, JSON, Bootstrap, JQuery</h3>
					</div>
				</div>
				<div class="resume-section-item">
					<div class="rsi-skill">
						<h3 class="rsi-title">FRAMEWORKS</h3>
						<h3 class="rsi-skills">Django, Codeigniter, Node.js</h3>
					</div>
				</div>
				<div class="resume-section-item">
					<div class="rsi-skill">
						<h3 class="rsi-title">DATABASES</h3>
						<h3 class="rsi-skills">SQL, MongoDB</h3>
					</div>
				</div>
				<div class="resume-section-item">
					<div class="rsi-skill">
						<h3 class="rsi-title">TOOLS</h3>
						<h3 class="rsi-skills">LaTeX, PyCharm, IntelliJ IDEA, CLion, Sublime Text, Atom, Git, OpenAPI (Swagger), Slack, SolidWorks, AUTOCAD</h3>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>