<script src="/js/navbar.js"></script>

<nav class="main-navi">
    <a id="nav-logo" href="/">
        <img src="/img/TW-Logo-Back.png">
    </a>
    <div class="bars bars-close bars-30">
        <div class="bar top-bar"></div>
        <div class="bar mid-bar"></div>
        <div class="bar bottom-bar"></div>
    </div>
    <ul class="navi-items">
        <li class="navi-item"><a href="/about">ABOUT ME</a></li>
        <li class="navi-item"><a href="/projects">PROJECTS</a></li>
        <li class="navi-item"><a href="/resume">RESUME</a></li>
    </ul>
</nav>